// COLORS
$color-primary: #1e88e5;
$color-primary-light: #29b6f6;
$color-primary-dark: #283593;

$color-secondary-light: #ffa726;
$color-secondary-dark: #f4511e;

$color-tertiary-light: #66bb6a;
$color-tertiary-dark: #00897b;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #eeeeee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-full-width: 100%;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;